h1{
  margin-left: 230px; 
  font-family: 'Times New Roman', Times, serif;
  color: #194569;
}
h2{
  
  color: antiquewhite;

}
p{
color: aliceblue;
}

.container{
  margin-left: 100px;
}
.safe{
padding: 20px;
background-color: #194569;
width: 25%;
border-radius: 12px;
height: 250px;
float: left;
margin-top: 1px;
margin-left: 100px;
}

.free{
  padding: 20px;
  background-color: #194569;
  width: 25%;
  border-radius: 12px;
  height: 250px;
  float: left;
  margin-top: 1px;
  margin-left: 100px;
  }
  .support{
    padding: 20px;
    background-color: #194569;
    width: 25%;
    border-radius: 12px;
    height: 250px;
    float: left;
    margin-top: 1px;
    margin-left: 100px;
    }
    .use{
      padding: 20px;
      background-color: #194569;
      width: 25%;
      border-radius: 12px;
      height: 250px;
      float: left;
      margin-top: 5px;
      margin-left: 100px;
      }
      .confident{
        padding: 20px;
        background-color: #194569;
        width: 25%;
        border-radius: 12px;
        height: 250px;
        float: left;
        margin-top: 5px;
        margin-left: 100px;
        }
        .advanced{
          padding: 20px;
          background-color: #194569;
          width: 25%;
          border-radius: 12px;
          height: 250px;
          float: left;
          margin-top: 5px;
          margin-left: 100px;
          }
  .background-container {
    display: block;
    position: fixed; /* Assure que l'image reste fixe en arrière-plan */
    top: 0;
    left: 0;
    width: 100vw; /* Couvre toute la largeur de l'écran */
    height: 100vh; /* Couvre toute la hauteur de l'écran */
    background-image: url('https://informationage-production.s3.amazonaws.com/uploads/2022/10/predictions-for-cyber-security-2020.jpeg'); /* Image de fond */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite que l'image se répète */
    z-index: -1; /* Met l'image en arrière-plan */
    margin: 0; /* Enlève toute marge */
    padding: 0; /* Enlève tout padding */
  }
  
  