
<div class="container">
    <div class="section intro">
        <h2>Why did we create 5ecurity ?</h2>
        <p> 5ecurityis designed to meet the needs of enterprise users and individuals alike, providing a secure environment for confidential files, allowing you to safeguard your data while enjoying convenient and file management with admin-friendly automation-features.</p><br>
        <p> By ensuring compliance with industry regulations, 5ecurity grants you peace of mind as you effortlessly share and access your encrypted files anytime, anywhere.</p>
      </div>
    <div class="section">
        <h2>Chiffrement des Données</h2>
        <p>Nous utilisons des techniques de chiffrement avancées comme SSL/TLS et AES pour garantir la sécurité de vos données.</p>
    </div>
    <div class="section">
        <h2>Authentification et Autorisation</h2>
        <p>Nous proposons des mécanismes d'authentification sécurisés tels que l'authentification à deux facteurs (2FA) et l'authentification unique (SSO).</p>
    </div>
    <div class="section">
        <h2>Sécurité du Réseau</h2>
        <p>Notre infrastructure réseau est protégée par des pare-feux et des VPNs pour assurer la sécurité des communications.</p>
    </div>
    <div class="section">
        <h2>Conformité et Régulations</h2>
        <p>Nous respectons les régulations en vigueur, y compris le GDPR et HIPAA, pour garantir la protection de vos données.</p>
    </div>
    <div class="section">
        <h2>Centre de Confiance</h2>
        <p>Nous croyons en la transparence de nos pratiques de sécurité. Visitez notre Centre de Confiance pour en savoir plus.</p>
    </div>
    <div class="section contact">
        <h2>Support et Assistance</h2>
        <p>Pour toute question ou problème de sécurité, veuillez <a href="mailto:support@example.com">contacter notre support</a>.</p>
    </div>
    <div class="section">
      <h2>changer de mot de passe </h2>
      <button class="btn btn-outline-success custom" type="submit">changer de mdp</button>
  </div>
  </div>
  
