<div class="sm">
    
    <h1 class="m">The simple way to send a secure data<br></h1>

    <h1 class="n">It's safe. It's fast. It's free.</h1>
    <h2 class="s">Protect your data with our advanced encryption technology.</h2>
    
  <div class="btn-container">
   <button class="btn btn-outline-success custom" type="submit" routerlink="/signup" (click)="gotosignup()">Create My Free Account </button>
   <button class="btna btn-outline-success custom" type="submit" routerlink="/ourteam" (click)="gotoourteam()">Contact Us </button>
  </div>
  <div class="background-container">
    <!-- Le reste du contenu ici -->
  </div>
  