.n{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #555;
  font-size: 55px;
  margin-left: 400px;
  justify-content: center;
  color: #194569 
}
.m{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #555;
  font-size: 50px;
  margin-left: 320px;
  margin-top: 200px;
  color: #194569 ;
}
.btn {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 100px;
  background-color:#194569 ;
  border: none;
  border-radius: 10px;
  color:  #979494;
  cursor: pointer;
  margin-left: 1200px; 
}
.btn:hover {
  background-color:  #b3babe;;
}

