.cadre {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: 10%; /* Adjusts to the left with a small space */
  margin-top: 50px; /* Adds space at the top */
}

.form-group {
  margin-bottom: 20px;
}

.email, .password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative; /* Make the container relative for the toggle span */
}

.toggle-password {
  position: absolute;
  right: 10px; /* Positions the "Show" button to the right of the input */
  top: 67%; /* Vertically centers the toggle */
  transform: translateY(-50%);
  cursor: pointer;
  color: orange;
  font-weight: bold;
  font-size: 14px;
}

.toggle-password:hover {
  color: darkorange;
}

.remember-forgot {
  display: flex;
  justify-content: space-between; /* Align Remember me and Forgot password on the same line */
  width: 100%;
  margin-bottom: 20px;
}

.forgot-password {
  align-self: center;
}

small.form-text {
  margin-top: 5px; /* Space between email and "We'll never share" text */
}

.text-center {
  margin-top: 20px; /* Adds space above the "Not a member" text */
}

.btn-primary {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 50px;
  background-color: #194569;
  border: none;
  border-radius: 10px;
  color: #979494;
  cursor: pointer;
  margin-left: 180px;
}

.btn-primary:hover {
  background-color: #b3babe;
}

.background-container {
  display: block;
  position: fixed; /* Ensures the background image stays fixed */
  top: 0;
  left: 0;
  width: 100vw; /* Covers the entire screen width */
  height: 100vh; /* Covers the entire screen height */
  background-image: url('https://informationage-production.s3.amazonaws.com/uploads/2022/10/predictions-for-cyber-security-2020.jpeg'); /* Background image */
  background-size: cover; /* Makes sure the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  z-index: -1; /* Moves the image behind other content */
  margin: 0;
  padding: 0;
}
