/* Styles for the form container */
.form-container {
  width: 50%;
  margin:20px;
  padding: 20px;
  border: 3px solid , #555;
  border-radius: 5px;
  
  
}
.ll{
  margin-left: 150px;
  border-radius: 10px;

}
/* Styles for form labels */
label {
  font-weight: bold;
  margin-left: 160px;
  font-family: 'Times New Roman', Times, serif;
  color: #555;
  font-size: 20px;

}

/* Styles for form inputs */
.form-control {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

/* Styles for small form text */
.form-text {
  font-size: 0.8em;
  color: #6c757d;
}

/* Styles for form checkbox */
.form-check-input {
  margin-top: 5px;
  margin-right: 5px;
}

/* Styles for submit button */
.btn-primary {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  background-color: #b3babe;
  border: none;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
}

/* Hover effect for submit button */
.btn-primary:hover {
  background-color: #979494
  
}
form{
  margin-left: 470px;
  margin-top: 130px;
  
}
button {
  margin-left: 210px;
  border-radius: 20px;
}
.cadre{
  
  border-radius: 15px;
  border: 2px solid #ccc; 
  width: 60%;
  height: 400px;
  background-color: #d1dfe6;
  
}
.cad{
  margin-top: 70px;
}
#emailHelp{
  margin-left: 180px;
  
}




