label {
    font-weight: bold;
    margin-right : 0px;
    font-family: 'Times New Roman', Times, serif;
    color: #194569 ;
    }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 70px;
  }
  
 
  .form-text {
    font-size: 0.8em;
    color: #6c757d;
    margin-left: 70px;
  }
  
 
  .form-check-input {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 100px;
  }
  
  
  .btn-primary {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 100px;
  background-color:#194569 ;
  border: none;
  border-radius: 10px;
  color:  #979494;
  cursor: pointer;
  margin-left: 500px; 
}
.btn-primary:hover {
  background-color:  #b3babe;;

  }
  form{
    margin-left: 50px;
    margin-top: 20px;
    width: 50%;
  }
  button {
    border-radius: 20px;
  }
  .cadre{
    border-radius: 15px;
    width: 50%;
    border: 2px solid #ccc; 
    background-color: #d1dfe6;
    height:600px;
    margin-left: 400PX;
  }
  .ll{
    margin-top: 20px;    
  }
  