/* Styles for the form container */
.form-container {
    width: 50%;
    margin:20px;
    padding: 20px;
    border: 2px solid #08000000;
    border-radius: 5px;
  }
  
  /* Styles for form labels */
  label {
    font-weight: bold;
  }
  
  /* Styles for form inputs */
  .form-control {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styles for small form text */
  .form-text {
    font-size: 0.8em;
    color: #6c757d;
  }
  
  /* Styles for form checkbox */
  .form-check-input {
    margin-top: 5px;
    margin-right: 5px;
  }
  
  /* Styles for submit button */
  .btn-primary {
    display: block;
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    background-color: #010149;
    border: none;
    border-radius: 6%;
    color: #fff;
    cursor: pointer;
  }
  
  /* Hover effect for submit button */
  .btn-primary:hover {
    background-color: #0a642d;
    
  }
  form{
    margin-left: 470px;
    margin-top: 30px;
    ;
    
  }
  button {
    margin-left: 170px;
    border-radius: 20px;
  }
  .cadre{
    
    border-radius: 15px;
    border: 2px solid #646474; 
    width: 50%
  }
  
  