.navbar{
  margin-bottom: 20px;
  padding-left: 30px;

} 
.royal-blue-navbar{
  background-color:#194569 ;
  outline: none;
  cursor: none;
  user-select: none;
}
form{
  padding-left: 700px;
 
}
.custom {
  color:#194569 ;
  font-size: 0.9rem; /* Increase font size */
  padding: 0.75rem 1.5rem; /* Increase padding */
  margin: 0 0.5rem; /* Add margin to separate buttons */
  background-color: #b3babe;
}

