<nav class="navbar navbar-expand-lg navbar-dark royal-blue-navbar">
  <p class="navbar-brand" ></p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" (click)="gotosec()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" (click)="gotoacceuil()">Ressources</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages"(click)="gotomsgs()">Crypto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/security"(click)="gotosecurity()">About Us </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerlink="/ourteam" (click)="gotoourteam()">team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerlink="signin" (click)="gotosignin()">logout</a>
      </li>
      
    </ul>

    <form class="d-flex" role="search">
      <button class="btn btn-outline-success custom" type="submit" routerlink="/signup" (click)="gotosignup()">SignUp</button>
      <button class="btn btn-outline-success custom" type="submit" routerlink ="/signin"(click)="gotosignin()">SignIn</button>
      
    </form>
  </div>
 </nav>
 
 