.thoughts{
   height: 50%;
}
.contact-form {
    width: 80%;
    height: 500px;
    border-radius: 12px;
    margin-top: 70px;
    margin-bottom: 100px;
    background-color: #d1dfe6;
}
.contact-info {
    width: 20%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;
    margin-right: 00px;
}
input[type="text"],
.btn {
    display: block;
    width: 20%;
    padding: 10px;
    margin-top: 60px;
    background-color:#194569 ;
    border: none;
    border-radius: 10px;
    color:  #979494;
    cursor: pointer;
    margin-left: 600px; 
  }
  .btn:hover {
    background-color: #b3babe;;
  }
.us{
  position: absolute; 
  top: 20px; 
  right: 20px; 
  font-size: 50px; 
  color: #194569; 
  margin-top: 350px; 
}
.uss{
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 50px; 
    color: #194569; 
    margin-top: 300px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px;
    width: 50%;
    margin-top: 20px;
    color:#194569;
    margin-left: 40px;
}
.form-group{
    margin-left: 80px; 
    margin-top: 10px;  
}
.Entreprise{
    margin-left: 80px;
    margin-top: 10px;
}
textarea {
    width: 90%; 
    padding: 10px; 
    font-size: 15px; 
    line-height: 1.5; 
    border: 1px solid #194569; 
    border-radius: 4px; 
    resize: vertical; 
    color:#555;
    height: 80px;
  }
  .background-container {
    display: block;
    position: fixed; /* Assure que l'image reste fixe en arrière-plan */
    top: 0;
    left: 0;
    width: 100vw; /* Couvre toute la largeur de l'écran */
    height: 100vh; /* Couvre toute la hauteur de l'écran */
    background-image: url('https://informationage-production.s3.amazonaws.com/uploads/2022/10/predictions-for-cyber-security-2020.jpeg'); /* Image de fond */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite que l'image se répète */
    z-index: -1; /* Met l'image en arrière-plan */
    margin: 0; /* Enlève toute marge */
    padding: 0; /* Enlève tout padding */

  }
  .container{
    margin-left: 680px;
    width:1000px;
    margin-bottom: 250px;

  }