<div class="contact-page">
    <div class="contact-header">
      <h2>Contacts</h2>
      <button (click)="toggleForm()" class="add-contact-btn">+</button>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Rechercher un contact..." [(ngModel)]="searchQuery" (input)="filterContacts()">
    </div>
    <ul class="contact-list">
      <li *ngFor="let contact of filteredContacts">{{ contact.name }}</li>
    </ul>
    <app-forms *ngIf="showForm" (closeForm)="toggleForm()"></app-forms>
  </div>